main, h1{ padding: 1em;}

html{
  background-color: lightgray;
}

img{
  height: 10rem;
  width: auto;
}

main p{
  background-color: gainsboro;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
}

footer{
  border: thin solid black;
}

h1, p{
  color: orangered ;
}

li {
  list-style-type: none;
}

img{
  border-radius: 5%;
  box-shadow: 10px 3px 5px rgb(77, 71, 71);
}

nav li{
  box-shadow: 10px 3px 5px rgb(77, 71, 71);
}